<div class="main">
  <aside id="sidebar" class="sidebar ">
    <div class="logo-container">
      <div class="logo">
        <div class="logo-title">
          <font>AppsTergo</font>
        </div>
      </div>
      <i id="btnMenu" class="icon-menu1"></i>
    </div>
    <div class="nav">
      <ul class="menu">
        <li class="item-menu">
            <a href="#" class="item-menu-label HC1 active">
                <i class="icon-dashboard"></i>
                <span class="item-menu-title">Dashboard</span>
            </a>
        </li>
        <li class="item-menu">
            <a href="#" class="item-menu-label HC1">
                <i class="icon-calendario"></i>
                <span class="item-menu-title">Calendar</span>
            </a>
        </li>
        <li class="item-menu">
            <a href="#" class="item-menu-label HC1">
                <i class="icon-chat"></i>
                <span class="item-menu-title">Mensajes</span>
            </a>
        </li>
        <li class="item-menu submenu-conteiner">
            <a href="#" class="item-menu-label HC1">
                <i class="icon-store"></i>
                <span class="item-menu-title">Tienda</span>
                <i class="icon-arrordown"></i>
            </a>
            <div class="submenu-panel">
              <ul class="submenu">
                <li class="item-menu">
                    <a href="#" class="item-menu-label HC1">
                      <i  class="icon-circulo2"></i>
                      <span class="item-menu-title">label</span>
                    </a>
                </li>
                <li class="item-menu">
                    <a href="#" class="item-menu-label HC1">
                      <i class="icon-circulo2"></i>
                      <span class="item-menu-title">label</span>
                    </a>
                </li>
                <li class="item-menu">
                    <a href="#" class="item-menu-label HC1">
                      <i class="icon-circulo2"></i>
                      <span class="item-menu-title">label</span>
                    </a>
                </li>
                <li class="item-menu">
                    <a href="#" class="item-menu-label HC1">
                      <i class="icon-circulo2"></i>
                      <span class="item-menu-title">label</span>
                    </a>
                </li>
                <li class="item-menu">
                    <a href="#" class="item-menu-label HC1">
                      <i class="icon-circulo2"></i>
                      <span class="item-menu-title">label</span>
                    </a>
                </li>
              </ul>
            </div>
        </li>
        <li class="item-menu submenu-conteiner">
            <a href="#" class="item-menu-label HC1">
                <i class="icon-facturas"></i>
                <span class="item-menu-title">Facturas</span>
                <i class="icon-arrordown"></i>
            </a>
            <div class="submenu-panel">
              <ul class="submenu">
                <li class="item-menu">
                    <a href="#" class="item-menu-label HC1">
                      <i  class="icon-circulo2"></i>
                      <span class="item-menu-title">label</span>
                    </a>
                </li>
                <li class="item-menu">
                    <a href="#" class="item-menu-label HC1">
                      <i class="icon-circulo2"></i>
                      <span class="item-menu-title">label</span>
                    </a>
                </li>
                <li class="item-menu">
                    <a href="#" class="item-menu-label HC1">
                      <i class="icon-circulo2"></i>
                      <span class="item-menu-title">label</span>
                    </a>
                </li>
                <li class="item-menu">
                    <a href="#" class="item-menu-label HC1">
                      <i class="icon-circulo2"></i>
                      <span class="item-menu-title">label</span>
                    </a>
                </li>
                <li class="item-menu">
                    <a href="#" class="item-menu-label HC1">
                      <i class="icon-circulo2"></i>
                      <span class="item-menu-title">label</span>
                    </a>
                </li>
              </ul>
            </div>
        </li>
      </ul>
    </div>
  </aside>
  <section class="content">
    <div class="text">
        este es un texto de prueba
    
    </div>
    <router-outlet></router-outlet>

  </section>
  <div id="configVisuales" class="config-visuales">
    <div id="btnVisuales" class="label-config">
      <a>
        <i class="icon-engrane"></i>
      </a>
    </div>
    <div class="config-header">
      <div class="config-header-title">
        <font style="vertical-align: inherit;">Personalisar </font>
      </div>
      <i id="btnCloseVisuales" class="icon-close"></i>
    </div>
    <div class="divider"></div>
    <div class="layout-mode">
      <div class="layout-title">
        <font style="vertical-align: inherit;">Tema</font>
      </div>
      <div class="layout-panel">
        <i class="icon-sun"></i>
        <label class="switch">
          <input id="btnModo" type="checkbox" >
           <span class="slider  round"></span>
        </label>
        <i class="icon-moon2"></i>
      </div>
    </div>
    <div class="color-label">
      <div class="color-title">
        <font>Etiquetas</font>
      </div>
      <div class="color-panel">
        <button type="button" id="color1" class="colors color1" (click)="setColorLabel('#616161')"></button>
        <button type="button" id="color2" class="colors color2" (click)="setColorLabel('#c62828')"></button>
        <button type="button" id="color3" class="colors color3" (click)="setColorLabel('#c2185b')"></button>
        <button type="button" id="color4" class="colors color4" (click)="setColorLabel('#8e24aa')"></button>
        <button type="button" id="color5" class="colors color5" (click)="setColorLabel('#2196f3')"></button>
        <button type="button" id="color6" class="colors color6" (click)="setColorLabel('#0288d1')"></button>
        <button type="button" id="color7" class="colors color7" (click)="setColorLabel('#64dd17')"></button>
        <button type="button" id="color8" class="colors color8" (click)="setColorLabel('#ff8f00')"></button>
      </div>
      
    </div>
    
  </div>
</div>
